

#container{
	width:760px;
	height:auto;
	margin:auto;
}

#menu{
	height:50px;
	background-color: white;
}

#menu a{
	width:70px;
	float: left;
	padding: 50px 0 0 0;
	height: 0px !important;
	background: no-repeat 0 0px;
}

#menu a[data-attribute="about"]{
	background: url("../img/meniu/about.gif");
	background-position: 0 -100px !important;
	
}
#menu a[data-attribute="portofolio"]{
	background: url("../img/meniu/portfolio.gif");
	width: 100px;
}
#menu a[data-attribute="services"]{
	background: url("../img/meniu/services.gif");
}
#menu a[data-attribute="contact"]{
	width: 106px;
	background: url("../img/meniu/contact.gif");
}


#menu a.selected{
	background-position: 0 -100px !important;
}

#menu a.selected:hover{
	background-position: 0 -50px !important;
}

#menu a:hover{
	background-position: 0 -100px !important;
}

header{
	
	height:150px;
	width:760px;
	background: url("../img/banner-curs.png") no-repeat;
	background-size: 100% 100%;
	position:relative;
}

header form{
	position: absolute;
	right: 10px;
	bottom: 2px;
	width: 200px;
}

#content{
	
	width: 480px;
	height: auto;
	float: left;
	min-height: 200px;
}

#sidebar{
	
	height: auto;
	float: left;
	width: 280px;
	min-height: 100px;
}
.clearfix{
	clear:both;
}

h1 {
	color: orange;
	font-family:Arial;

}

footer{
	width: 760px;
	height: 66px;
	position: relative;
}

@media print{
	header{
		display:none;
	}
}

@media (max-width: 600px){
	#sidebar {
		display:none;
	}
}


@font-face{
	font-family:delicious;
	sro: url(../fonts/stonehen.ttf);
}

footer p{
	font-family:delicious;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 50px;

}































